@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/calibri.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/calibri.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/calibri.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/calibri.svg#calibri') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
    background-color: #b9cfc1;
    width: 1440px;
    height: 4130px;
    margin: 10px auto;
    color: white;
    font-family: 'Calibri';
    /*
    box-sizing: border-box;
    margin: 10px auto;
    box-sizing: border-box;
    background-color: #b9cfc1;  
    background-size: cover;
    background-position: center; */
}
A {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
A:visited {
    color: #000000;
    text-decoration: line-through;
}
li {
    list-style: none;
}
h3 {
    margin-top: 0px;
}
.visually-hidden {
    display: none;
    font-size: 0px;
}
.topline {
    width: 1440px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e5e0;
}
.topline-menu {
    padding-left: 500px;
    margin: 0; /* Обнуляем значение отступов */
}
.navigation-menu{
    margin: 0; /* Обнуляем значение отступов */
    padding: 0; /* Значение полей */
}
.features-list{
    margin: 0; /* Обнуляем значение отступов */
    padding: 0; /* Значение полей */
}

.topline-menu-list {
    display: inline-block; /* Отображать как строчный элемент */
    margin-left: 10px; /* Отступ слева */
    max-width: 86px;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
    flex: 1 1 auto;
    padding: 5px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px
}
.topline-menu-list:hover {
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
.main-header {
    max-width: 1110px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color:#3a5659;
    display: flex;
    gap: 45px; 
}
.main-header-logo {
    margin-left: 20px;
    filter: drop-shadow(0 0 0.75rem #2BAE66);
}
.topline-search {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    max-width: 164px;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
  }
  .link-whatsapp{
    padding-top: 15px;
  }
.phone-box {
    display: flex; 
    padding-top: 35px;
    font-size: 14px;
    letter-spacing: 0;
}
.phone {
    color: #ffffff;
    margin-left: 10px;
    padding-top: 7px;
}
.navigation {
    background-color:#3a5659;
    width: 1110px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.navigation-menu{
    padding: 10px 30px 0;
    display: flex;
    justify-content: space-between;
}
.navigation-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: #c40909;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #2BAE66;
    border-radius: 10px   
}
.menu-list-links {
    padding-top: 10px;
   }
.navigation-menu-list:hover {
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
.catalog {
    max-width: 690px;
}
.catalog-item {
    display: inline-block;
    width: 330px;
    height: 440px;
    text-align: center;
    margin-top: 80px;
}
.features{
    width: 1110px;
    height: 740px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.features-list {
    display: flex;
    margin-bottom: 90px;
}
.features-list-item-left {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 360px;
    height: 300px;
    margin-left: 150px;
    margin-right: 90px;
    background-color: #3a5659;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 300;
    font-style: inherit;
    text-align: center;
    padding: 0 20px;
}
.features-list-item-right {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 360px;
    height: 300px;
    margin-right: 150px;
    background-color: #3a5659;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 300;
    font-style: inherit;
    text-align: center;
    padding: 0 20px;

}
h3 {
    font-size: 30px;
    margin-top: 20px;
}
