@font-face {
	font-family: 'Calibri';
	src: url('../fonts/calibri.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/calibri.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/calibri.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/calibri.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/calibri.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/calibri.svg#calibri') format('svg'); /* Chrome < 4, Legacy iOS */
}
body {
    margin: 0px auto;
    color: white;
    font-family: 'Calibri';
    background-color: #b9cfc1;

    /*
    box-sizing: border-box;
    margin: 10px auto;
    background-color: #b9cfc1;  
    background-size: cover;
    background-position: center; */
}
.body-catalog {
    margin: 0px auto;
    color: white;
    font-family: 'Calibri';
    background-color: #e6e5e0;
}
A {
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}
A:visited {
    color: #000000;
    text-decoration: line-through;
}
li {
    list-style: none;
}
h3 {
    margin-top: 0px;
}
.visually-hidden {
    display: none;
    font-size: 0px;
}
header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:#3a5659;
}
.topline {
    width: 1440px;
    height: 40px;
    background-color: #e6e5e0;
}
.topline-menu {
    padding-left: 500px;
    margin: 0; /* Обнуляем значение отступов */
}
.navigation-menu{
    margin: 0; /* Обнуляем значение отступов */
    padding: 0; /* Значение полей */
}
.features-list{
    margin: 0; /* Обнуляем значение отступов */
    padding: 0; /* Значение полей */
}
.topline-menu-list {
    display: inline-block; /* Отображать как строчный элемент */
    margin-left: 10px; /* Отступ слева */
    max-width: 86px;
    font-size: 12px;
    background-color: #e6e5e0;
    flex: 1 1 auto;
    padding: 5px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px
}
.topline-menu-list:hover {
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
.main-header {
    max-width: 1110px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 45px; 
}
.main-header-logo {
    margin-top: 10px;
    margin-left: 27px;
    filter: drop-shadow(0 0 0.75rem #2BAE66);
}
.topline-search {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    max-width: 164px;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 14px;
    letter-spacing: 0%;
    text-align: center;
}
.link-whatsapp{
    padding-top: 15px;
    margin-left: 350px;
}
.phone-box {
    display: flex; 
    padding-top: 35px;
    font-size: 14px;
    letter-spacing: 0;
}
.phone {
    color: #ffffff;
    margin-left: 10px;
    padding-top: 7px;
}
.navigation {
    background-color:#3a5659;
    width: 1110px;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
.navigation-menu{
    padding: 10px 30px 0;
    display: flex;
    justify-content: space-between;
}
.navigation-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2); */
    box-shadow: 0 0 20px #2BAE66;
    border-radius: 10px; 
    background-color: #fff;
    color: #2BAE66;
}
.menu-list-links {
    padding-top: 10px;
   }
.navigation-menu-list:hover {
    background-position: right center; /* change the direction of the change here */
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
.container {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h1 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: normal;
    color: #000000;
    margin-top: 0px;
    padding-top: 50px;
}
.catalog{
    display: flex;
    width: 1110px;
    gap: 30px;
    margin-top: 50px;
    margin-left: 165px;
}
.catalog-item {
    width: 350px;
    height: 740px;
    background-color: #E6E5E0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog-item-title {
    font-size: 33px;
    margin: 0 0 0 15px;
    text-align: left;
    font-weight: normal;
    text-decoration: underline;
    color: #000000;
}
.catalog-item-size {
    margin: 15px 5px 0 15px;
    text-align: left;
    color: #808080;
}
.catalog-item-price {
    font-size: 26px;
    margin: 15px 0 0 15px;
    text-align: left;
    font-weight: bold;
    color: #000000;
}
.catalog-item-last {
    position: relative;
    width: 350px;
    height: 740px;
    margin-top: 790px;
    right: 760px;
    background-color: #E6E5E0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog-item-image {
    margin: 0;
    padding: 0;
}
.features{
    width: 1110px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.features-list {
    display: flex;
    margin-bottom: 90px;
}
.features-list-title {
    font-size: 30px;
    margin-top: 30px;
}
.features-list-item-left {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 360px;
    height: 300px;
    margin-left: 150px;
    margin-right: 90px;
    background-color: #3a5659;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 300;
    font-style: inherit;
    text-align: center;
    padding: 0 20px;
}
.features-list-item-right {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 360px;
    height: 300px;
    margin-right: 150px;
    background-color: #3a5659;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 300;
    font-style: inherit;
    text-align: center;
    padding: 0 20px;
}
.other {
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e5e0;
}
.other-title {
    width: 440px;
    height: 60px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
    padding-bottom: 50px;
    padding-top: 60px;
    font-weight: normal;
    font-size: 48px;
    color: #000;
}
.other-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 230px;
    gap: 30px;
}
.other-list-content {
    width: 475px;
    height: 390px;
}
.other-image {
    object-fit: cover;
    border-radius: 20px;
}
.other-image:hover { 
    filter: saturate(150%);
}
.other-list-text {
    position: relative;
    bottom: 70px;
    left: 30px;
    margin: 0;
    width: 310px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    font-size: 40px;
    letter-spacing: -1.2px;
    color: #ffffff;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}
.other-list-button {
    width: 410px;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #56383c;
    font-size: 20px;
    color: #fff;
}
.product-card {
    width: 1110px;
    height: 940px;
    display:inline-flex;
}
.product-foto {
    display: block;
    width: 540px;
    height: 940px;
}
.product-photo-preview {
    display: inline-flex;
    width: 520px;
    height: 120px;
    gap: 40px;
    margin: 10px;
    padding: 0;
}
.product-foto-full {
    margin: 0;
}
.product-info {
    width: 475px;
    height: 800px;
    margin-left: 95px;
    color: #000;
}
.product-availability{
    text-align: left;
    margin: 0;
    font-size: 16px;
}
.product-article {
    position: relative;
    text-align: right;
    bottom: 20px;
    margin: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.25);
}
.size-color {
    font-weight: bold;
    background-color: #C2B74B;
}
.product-text {
    width: 450px;
    font-size: 18px;
    text-align: left;
    line-height: 1.67;
}
.product-price {
    display: flex;
    margin: 50 0px;
    width: 220px;
    height: 50px;
    font-size: 26px;
    font-weight: bold;
    color: #000000;
}
.product-price-border {
    width: 110px;
    height: 50px;
    text-align: center;
    color: #3a5659;
    background-color: #fff;
}
.product-price-button {
    width: 110px;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: #3a5659;
}
.product-additional-title{
    font-size: 26px;
    text-align: left;
    line-height: 1.67;
}
.product-additional-list {
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 1.67;
    list-style-type: circle;
}
